[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-cors = "*"
gunicorn = "*"
openai = "*"
python-dotenv = "*"
flask = {extras = ["async"], version = "*"}
openai-async = "*"
firebase-functions = "~=0.1.0"

[dev-packages]

[requires]
python_version = "3.9"
